// colors
$black: #141414;
$white: #fff;
$charcoal: #424242;
$gray: #727272;
$lt-gray: #a1a1a1;
$border-gray: #e7e7e7;

// fonts
$times: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
$arial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$courier: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
